*{
    margin-top: 5px;
    text-align: center;
}
.container{
    padding: 38px;
    margin: 15px 270px;
    border: 1px solid lightgray;
    border-radius: 5px;
    width: 30%;
    height: 80%;
    justify-content: space-between;
}
.contain{
    margin-top: 5px;
    text-align: center;
}

.details{
    width: 330px;
    height: 40px;
    margin-top:8px;
   
}

textarea{
    margin-top: 8px;
    width: 330px;
}
button{
    margin-top: 12px;
    width: 100px;
    margin-left: 230px;
}